project/
target/
.idea/
*.class
*.log

\.idea/

hand1\.pbn

logs/

lib/

src/test/resources/com/phasmidsoftware/bridge/director/keremshalom.2019.1003.txt

src/test/scala/com/phasmidsoftware/bridge/director/CardTest.scala
/.bsp/
/src/test/resources/com/phasmidsoftware/bridge/director/*.numbers
/src/test/resources/com/phasmidsoftware/bridge/director/*.prn
/src/test/resources/com/phasmidsoftware/bridge/director/*.xlsx
/*.numbers
/*.csv
/*.xlsx

src/test/resources/com/phasmidsoftware/bridge/director/Newton/Newton20241001.txt

src/test/resources/com/phasmidsoftware/bridge/director/Newton/Newton20241008.txt

src/test/resources/com/phasmidsoftware/bridge/director/Newton/Newton20241015.txt
