project/
target/
.idea/
*.class
*.log

\.idea/

hand1\.pbn

logs/

lib/

src/test/resources/com/phasmidsoftware/bridge/director/keremshalom.2019.1003.txt

src/test/scala/com/phasmidsoftware/bridge/director/CardTest.scala
/.bsp/
