<!--
  ~ Bridge
  ~ Copyright (c) 2017. Phasmid Software
  -->

<!-- This is the file in which you set debug logging mode (assuming it is in the classpath). Otherwise set it in logback.xml -->
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
            <!--     <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{sourceThread} - %msg%n</pattern>  -->
        </encoder>
    </appender>

    <!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under
         the key "bySecond" into the logger context. This value will be
         available to all subsequent configuration elements. -->
    <!-- <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/> -->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- <file>logs/testing-${bySecond}.log</file> -->
        <file>logs/testing.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>false</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>